*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#top{
    width: 100%;
    height: 50px;
    background-color: white;
}
#top>button{
    border: 0px;
    background-color: white;
    font-size: 0.75rem;
    font: bolder;
    margin-top: 15px;
    margin-left: 10px;
    align-items: center;
    justify-content: space-between;
}
#nav{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 70px;
    background-color: white;    
}
#nav>button,input{
    width: 100px;
    margin-top: 10px;
    margin-right: 20px;
    border: 0px;
    background-color: white;
}
#middle{    
    width: 100%;
    height: auto;
    margin-top: 5px;
    border-top: 1px solid black;
    border-bottom:1px solid black ;
    background-color: white;
       
}
#middle>img{
    width: 100%;
}
#mid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 60px;
    margin-left: 1px;
    margin-right: 1px;
    
    
}
#mid>div{
    display: flex;
    border: 1px solid black;
    height: 400px;
}
#mid>div>img{
    width: 80%;
    height: 397px;
    margin-left: 50px;
}
#mid>div>h1,h2,h3{
    margin-top: 20px;
    margin-left: 2px;
    writing-mode: vertical-rl;
}
#midlow{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 60px;
    margin-left: 1px;
    margin-right: 1px;     
}
#midlow>div{
    display: flex;
    border: 0.5px solid black;
    height: 400px;
}
#signin{
    display: flex;
    width: 100%;
    height: 400px;
    margin-top: 50px;
}
#signin{
    background-color: rgb(211, 209, 209);
    border: 1px solid black;
}
#two{
    display: flex;
}
#two>div{
    width: 33%;
    hieght: 400px;
    
    text-align: center;

}
#three{
    margin-left: 20px;
    margin-top: 30px;
}
#last{
    width: 100%;
    height: 300px;
    display: flex;
    border: 1px solid black;
    
}
#last>div{
    width: 16%;
}
#up{
    width: 100%;
    height: 400px;
    display: flex;  
    background-color: #fff;  
}
#up>h1{
    
}
#up>div{
    display: flex;
    width: 22%;
    
    text-align: center;
    justify-content: center;
}
#up>div>div{
    margin-top: 50px;
    justify-content: center;  
    
}
#up>div>div>button{
    font-size: 5px;
}
#footer{
    width: 100%;
    height: 400px;
    display: flex;
    border: 1px solid black;
    background-color: rgb(221, 220, 220);
}
#footer>div{
    width: 50%;
    height: 100%;
    border: 1px solid black;

}
